body { width: 100%; height: 100%; }
ul { list-style: none; padding: 1px; margin: 0px; }
ul li { text-align: left; line-height: 30px; margin-left: 3px; }
ul .head { background: #EEEEEE; line-height: 40px; text-align: center; margin-left: 0px; color: #989898; }
ul li a { text-decoration: none; text-color: #EEEEEE; display: block; width: 100%; }
ul li a:link { color: #AAAAAA; }
ul li a:visited { color: #AAAAAA; }
ul li a:hover { color: #000000; }
ul li a:active { color: #3090e4; }
/*.content { margin-left: auto; margin-right: auto; max-width: 1124px; }*/
.content { margin-left: 10px; margin-right: 10px; }
#title { text-align:center; font-size: 30; margin: 20px; }

#iplist { border:gray 1px solid; margin-right: 10px; height: 100%; }
.highlighted { font-weight: 700; border-right: 1px solid #3090e4; }

.highlighted:link { color: #3090e4; }
.highlighted:visited { color: #3090e4; }
.highlighted:hover { color: #3090e4; }
.highlighted:active { color: #3090e4; }

.selected:link { background: rgba(48,144,228,.04); color: #3090e4; }
.selected:visited { background: rgba(48,144,228,.04); color: #3090e4; }
.selected:hover { background: rgba(48,144,228,.04); color: #3090e4; }
.selected:active { background: rgba(48,144,228,.04); color: #3090e4; }